@model Library.Models.Holding

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Holding</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Classification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Classification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CopyNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CopyNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckOutTimestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckOutTimestamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BranchId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeldByPatronId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeldByPatronId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastCheckedIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastCheckedIn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
